.idea/
prefix/
sysroot/
**/target/
.gdb_history
*.patch
*.swp
*.swo
*.log

/.vim

docs/
target/
build/

CLAUDE.md
.cursor
.qwen
.github/
.agents/
.rtk/
.claude/
.gemini/
graphify-out/
.cocoindex_code/
.roo/
.windsurf/
.opencode/
.kilo/
.mimocode/

opencode.json
GEMINI.md
AGENTS.md
